<div  style="margin-top:100px;margin-left:70px;margin-right:100px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 style="text-align:center">Admin LogIn</h2>
            </div>
            <div class="panel-body">
                <form class="container">
                        <div class="row form-group">
                        <div class="col-md-4 col-lg-4">
                              <label>  Enter your name:</label>
                                </div>
                        </div>
                <div class="row form-group">
                    
                    <div class="col-md-4 col-lg-4">
                        <input type="text" ng-model="adminlogin.adminuser" class="form-control" placeholder="enter your name(admin)" />
                     </div>
                     </div>
                     <div class="row form-group">
                     <div class="col-md-4 col-lg-4">
                         <label>  Enter your Password:</label>
                            </div>
                        </div>
                <div class="row form-group">
                     <div class="col-md-4 col-lg-4">
                         <input type="password" ng-model="adminlogin.password" class="form-control" placeholder="Enter password(admin)" />
                      </div>
                      
                    </div>
                   <div class="row form-group">
                    <button class="btn btn-success" ng-click="adminlogin1()">LogIn</button>
                    </div>
                </form>
            </div>
        </div>
    
    </div>
    
    