<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>Welcome to BTP Portal </title>
<!-- css stylesheets -->
<head>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
<script src="js/library/angular.min.js"></script>
<script src="js/library/angular-route.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script data-require="ui-bootstrap@0.12.0" data-semver="0.12.0" src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.min.js"></script>
<script src="/js/angularjs/app.js"></script>

<script src="js/library/jquery.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="myCtrl">
     <div class="container" ng-hide="usersdata">
        <div class="row" style="font-size:16px">
            <div class="col-md-2 col-lg-2 col-md-offset-4 col-lg-offset-4">
                <a href='/'>SignUp</a>
            </div> 
            <div class="col-md-2 col-lg-2">
                    <a href='#!login'>LogIn</a>
                </div>
        </div>
    
     <ng-view></ng-view>
  </div>
  <div class="container" ng-hide="userstatus">
        <div class="row">
                <div class="btn btn-warning pull-right" ng-click="logout()">logout</div>
                </div>
     <div class="row">
         <div><span>Name:{{userfulldata.username}}</span></div>
         <div><span>DOB:{{userfulldata.dofb | date:'yyyy-MM-dd'}}</span></div>
         <div><span>Address:{{userfulldata.uaddress}}</span></div>
     </div>
     <div class="btn btn-primary" ng-click="passport1()">Passport document</div>
     <div class="btn btn-primary" ng-click="aadhar1()">Aadhar document</div>
     <div class="btn btn-primary" ng-click="pan1()">Pan document</div>
  </div>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>
